[submodule "mongodb-10gen"]
	path = mongodb-10gen
	url = https://github.com/higanworks-cookbooks/mongodb-10gen
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/edelight/chef-mongodb
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "chef-mongodb"]
	path = chef-mongodb
	url = https://github.com/patgannon/chef-mongodb
